/* Colore primario */
$primary_color: white;
/* Colore secondario */
$secondary_color: #031f4b;
/* Colore terziario */
$tertiary_color: #b3d1f3;
/* Altezza Header */
$header_height: 150px;
/* Padding in cima e fondo del main */
$north_south_padding: 5rem;
/* Spacing comune tra le sezioni del main */
$between_spacing: calc($north_south_padding / 2);
/* Celle per riga */
$cells_x: 25;
/* Celle per colonna */
$cells_y: 20;

/* Test */
/* #1b72ae #a5d9cc */